@model IEnumerable<Ticket>
@{
    ViewBag.Title = "Index";
}

<div class=" d-flex justify-content-between">
    <h2>Listado de Tickets</h2>
    <a href="@Url.Action("Nuevo","Ticket")"><i class="bi bi-plus-circle-fill" style="font-size: 2.5rem; color: cornflowerblue;" ></i></a>
    @*<i class="bi bi-whatsapp" style="color:green; font-size: 2.5rem"></i>*@
</div>

<hr />  

<table class=" table table-bordered table-hover" >
    <thead>
        <tr>
            <td>Acciones</td>
            <td># Ticket</td>
            <td>Fecha</td>
            <td>Estado</td>
            <td>Usuario</td>
            <td>Responsable</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td style="width:50px">
                    <a href="@Url.Action("Detalle","Ticket",new {id=ticket.Id})" title="Ver Detalle" style="color:blue"><i class="bi bi-search"></i></a>
                    <a href="@Url.Action("Actualizar","Ticket", new {id=@ticket.Id})" title="Actualizar" style="color:green"><i class="bi bi-pencil-square"></i></a>
                    <a href="@Url.Action("Delete", "Ticket", new { id = @ticket.Id })" title="Eliminar"><i class="bi bi-trash-fill" style="color:red"></i></a>
                </td>
                <td>@ticket.Id</td>
                <td>@ticket.Fecha</td>
                <td>@ticket.Estado.Nombre</td>
                <td>@ticket.Usuario.Nombre</td>
                <td>@ticket.Responsable.Nombre</td>
            </tr>
        }

    </tbody>
</table>


