@*como necesito ver mas de un modelo en el form me traigo el viewMels*@
@model TicketViewModel
@{
    ViewBag.Title = "Nuevo";
}

<div class="d-flex justify-content-between">
    <h2>Nuevo Ticket</h2>
    <a href="@Url.Action("Index","Ticket")"><i class="bi bi-arrow-left-circle-fill" style="font-size:2.5rem; color:forestgreen"></i></a>
</div>

<hr />

@*---- Agregamos formulario utilizando Razor ----*@
@*Esto nos ahorra poner la etiqueta form, incluye validaciones*@

@using (Html.BeginForm("Nuevo", "Ticket", FormMethod.Post))
{
    <div class="mb-3">
        <label class="form-label">Fecha Generación</label>
        @Html.TextBoxFor(x => x.Ticket.Fecha, new { @class = "form-control", @required="required", @type="date" })
    </div>
    <div class="mb-3">
        <label class="form-label">Estado</label>

        <select name="Ticket.IdEstado" class="form-control" required >
            <option value="" >Seleccione...</option>
            @foreach (var estado in Model.Estados)
            {
                <option value="@estado.Id">@estado.Nombre</option>
            }
        </select>
        @*@Html.TextBoxFor(x=>x.Ticket.IdEstado, new {@class="form-control", @required="required"})*@
    </div>
    <div class="mb-5">
        <label class="form-label">Usuario</label>
        <select name="Ticket.IdUsuario" class="form-control" required>
            <option value="">Seleccione...</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option value="@usuario.Id">@usuario.Nombre</option>
            }
        </select>
        @*@Html.TextBoxFor(x=>x.Ticket.IdUsuario, new {@class="form-control", @required="required"})*@
    </div>
    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        @Html.TextAreaFor(x=>x.Ticket.Descripcion, new {@class="form-control", @required="required"})
    </div>
    <div class="mb-3">
        <label class="form-label">Responsable</label>
        <select name="Ticket.IdResponsable" class="form-control" required>
            <option value="">Seleccione...</option>
            @foreach (var responsable in Model.Responsables)
            {
                <option value="@responsable.Id">@responsable.Nombre</option>
            }
        </select>
        @*@Html.TextBoxFor(x=>x.Ticket.IdResponsable, new {@class="form-control", @required="required"})*@
    </div>
    
    <div class="mb-3">
       <input type="submit" value="Guardar" class="btn btn-success" />        
    </div>
}
